@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #FAC928;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
}

.discount,
.count {
  position: relative;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.6s ease;
}

.count:hover {
  background: #3B3CFF;
  transition: all 0.6s ease;
}

.discount:hover {
  background: #E3346F;
  transition: all 0.6s ease;
}

.center .discount::after {
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 5px;
  content: " ";
  width: 20px;
  height: 4px;
  background: #FAC928;
}

.center .count::before {
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 5px;
  content: " ";
  width: 20px;
  height: 4px;
  background: #99E334;
}

.center .count::after {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 13px;
  content: " ";
  width: 4px;
  height: 20px;
  background: #99E334;
}

.number {
  font-size: 26px;
  font-weight: 600;
  color: #3B3CFF;
  animation: remove-animation 0.5s ease;
}

.remove {
  animation: remove-animation 0.5s ease;
}

.add {
  animation: add-animation 0.5s ease;

}

@keyframes remove-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes add-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
