* {
    box-sizing: border-box;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
  
  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #d0b49f;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @keyframes moveEffect {
  
    0%,
    100% {
      transform: scaleY(1);
    }
  
    50% {
      transform: scaleY(1.03);
    }
  }
  
  @keyframes moveOn {
    0% {
      left: 200px;
    }
  
    100% {
      left: 0px;
    }
  }
  
  .card {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 4px 8px 16px 10px rgb(20, 0, 0, 0.9);
  }
  
  .ground {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #f1c83a;
    border-radius: 15px;
    z-index: 1;
    transition: 1s ease;
  }
  
  .byc {
    position: absolute;
    width: 130px;
    height: 80px;
    top: 70px;
    left: 60px;
    animation: moveEffect 1s ease infinite;
  }
  
  .road {
    position: relative;
    top: 55px;
    left: 40px;
    width: 200px;
    height: 100px;
    overflow: hidden;
  }
  
  .road1 {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: #523a28;
    animation: moveOn 0.9s linear 0.5s infinite;
  }
  
  .road2 {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background-color: #523a28;
    animation: moveOn 0.9s linear 0.6s infinite;
  }
  
  .road3 {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 23px;
    height: 5px;
    border-radius: 5px;
    background-color: #523a28;
    animation: moveOn 1.1s linear 0.8s infinite;
  }
  
  .road4 {
    position: absolute;
    left: 150px;
    bottom: 0;
    width: 15px;
    height: 5px;
    border-radius: 5px;
    background-color: #523a28;
    animation: moveOn 1s linear 0.4s infinite;
  }
  
  .road5 {
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 13px;
    height: 5px;
    border-radius: 5px;
    background-color: #523a28;
    animation: moveOn 1.2s linear 1s infinite;
  }
  
  .card .ground:hover {
    transform: rotateX(180deg);
    opacity: 0;
    transition: 1s ease;
  
  }
  
  .air {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #a9d1e4;
    border-radius: 15px;
    z-index: 0;
  }
  
  .heli {
    position: absolute;
    background-color: #a9d1e4;
    z-index: 1;
    width: 130px;
    height: 80px;
    top: 50px;
    left: 60px;
    animation: moveEffect 1s ease infinite;
  
  }
  
  .cloud1 {
    position: absolute;
    top: 0;
    width: 5px;
    height: 3px;
    border-radius: 3px;
    background-color: #523a28;
    animation: moveOn 0.7s linear 0.5s infinite;
  }
  
  .cloud2 {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #523a28;
    animation: moveOn 0.8s linear 0.4s infinite;
  }
  
  .cloud3 {
    position: absolute;
    top: 45px;
    width: 10px;
    height: 3px;
    border-radius: 3px;
    background-color: #523a28;
    animation: moveOn 0.9s linear 0.6s infinite;
  }
  
  .cloud4 {
    position: absolute;
    top: 60px;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #523a28;
    animation: moveOn 1s linear 0.7s infinite;
  }
  
  .cloud5 {
    position: absolute;
    top: 80px;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #523a28;
    animation: moveOn 0.9s linear 0.2s infinite;
  }
  