* {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 51, 82);
    background: linear-gradient(
      45deg,
      rgba(241, 51, 82, 1) 0%,
      rgba(76, 153, 244, 1) 100%
    );
  }
  
  .frame {
    position: absolute;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(195, 26, 53);
    background: linear-gradient(
      45deg,
      rgba(195, 26, 53, 1) 0%,
      rgba(23, 101, 194, 1) 100%
    );
  }
  
  .line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 3px;
    stroke-linecap: round;
    animation: line 3s infinite linear;
  }
  
  .circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 5px solid white;
    border-radius: 50%;
    animation: circle 3s infinite;
    top: 190px;
  }
  
  @keyframes line {
    0% {
      stroke-dasharray: 30 660;
      stroke-dashoffset: 780;
    }
  
    70% {
      stroke-dasharray: 70 660;
      stroke-dashoffset: 390;
    }
  
    100% {
      stroke-dasharray: 30 660;
      stroke-dashoffset: 70;
    }
  }
  
  @keyframes circle {
    0%,
    60% {
      opacity: 1;
      transform: scale(0);
    }
  
    80%,
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  