*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  display: inline-block;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  font-family: 'Open Sans';
}
.wrapper {
  width: 400px;
  height: 400px;
  background: linear-gradient(
    to bottom,
    rgb(221, 190, 149) 60%,
    rgb(41, 41, 41) 60%
  );
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.boot {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -100%);
  transform-origin: 0 -200px;
}
.left {
  animation: boots 2s linear infinite;
}
.right {
  animation: boots 2s linear -1s infinite;
}

@keyframes boots {
  0% {
    transform: rotate(35deg) translate(-50%, -100%);
  }
  20% {
    transform: rotate(0deg) translate(-50%, -130%);
  }
  40% {
    transform: rotate(-35deg) translate(-50%, -100%);
  }
  100% {
    transform: rotate(35deg) translate(-50%, -100%);
  }
}
