:root{
    --sheet-color: #03A062;
    --base-color: #0D0208;
    --text-color: ivory;
    --spring: url("https://i.ibb.co/vwDm3yP/spring.png");
    --winter: url("https://i.ibb.co/XFfvsbD/winter.png");
}

.frame {
    width: 400px;
    height: 400px;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slice{
    width: 100%;
    height: 2px;
    position: absolute;
    z-index: 10;
}

.base{
    width: 100%;
    height: 100%;
    background-color: var(--base-color);
    background-image: var(--spring);
    background-size: cover;
    position: absolute;
    z-index: 1;
    border-radius: 7px;
}

.sheet{
    width: 100%;
    height: 200px;
    background-color: var(--sheet-color);
    background-image: var(--winter);
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 5;
    transition: 0.5s;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
}

h1{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 165px;
    left: 93px;
    font-family: sans-serif;
    color: var(--text-color);
    font-size: 60px;
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

.sheet h1{
    filter: blur(3px);
}



.slice-1:hover ~ .sheet{ height: 2px; transition: initial; }
.slice-2:hover ~ .sheet{ height: 4px; transition: initial; }
.slice-3:hover ~ .sheet{ height: 6px; transition: initial; }
.slice-4:hover ~ .sheet{ height: 8px; transition: initial; }
.slice-5:hover ~ .sheet{ height: 10px; transition: initial; }
.slice-6:hover ~ .sheet{ height: 12px; transition: initial; }
.slice-7:hover ~ .sheet{ height: 14px; transition: initial; }
.slice-8:hover ~ .sheet{ height: 16px; transition: initial; }
.slice-9:hover ~ .sheet{ height: 18px; transition: initial; }
.slice-10:hover ~ .sheet{ height: 20px; transition: initial; }
.slice-11:hover ~ .sheet{ height: 22px; transition: initial; }
.slice-12:hover ~ .sheet{ height: 24px; transition: initial; }
.slice-13:hover ~ .sheet{ height: 26px; transition: initial; }
.slice-14:hover ~ .sheet{ height: 28px; transition: initial; }
.slice-15:hover ~ .sheet{ height: 30px; transition: initial; }
.slice-16:hover ~ .sheet{ height: 32px; transition: initial; }
.slice-17:hover ~ .sheet{ height: 34px; transition: initial; }
.slice-18:hover ~ .sheet{ height: 36px; transition: initial; }
.slice-19:hover ~ .sheet{ height: 38px; transition: initial; }
.slice-20:hover ~ .sheet{ height: 40px; transition: initial; }
.slice-21:hover ~ .sheet{ height: 42px; transition: initial; }
.slice-22:hover ~ .sheet{ height: 44px; transition: initial; }
.slice-23:hover ~ .sheet{ height: 46px; transition: initial; }
.slice-24:hover ~ .sheet{ height: 48px; transition: initial; }
.slice-25:hover ~ .sheet{ height: 50px; transition: initial; }
.slice-26:hover ~ .sheet{ height: 52px; transition: initial; }
.slice-27:hover ~ .sheet{ height: 54px; transition: initial; }
.slice-28:hover ~ .sheet{ height: 56px; transition: initial; }
.slice-29:hover ~ .sheet{ height: 58px; transition: initial; }
.slice-30:hover ~ .sheet{ height: 60px; transition: initial; }
.slice-31:hover ~ .sheet{ height: 62px; transition: initial; }
.slice-32:hover ~ .sheet{ height: 64px; transition: initial; }
.slice-33:hover ~ .sheet{ height: 66px; transition: initial; }
.slice-34:hover ~ .sheet{ height: 68px; transition: initial; }
.slice-35:hover ~ .sheet{ height: 70px; transition: initial; }
.slice-36:hover ~ .sheet{ height: 72px; transition: initial; }
.slice-37:hover ~ .sheet{ height: 74px; transition: initial; }
.slice-38:hover ~ .sheet{ height: 76px; transition: initial; }
.slice-39:hover ~ .sheet{ height: 78px; transition: initial; }
.slice-40:hover ~ .sheet{ height: 80px; transition: initial; }
.slice-41:hover ~ .sheet{ height: 82px; transition: initial; }
.slice-42:hover ~ .sheet{ height: 84px; transition: initial; }
.slice-43:hover ~ .sheet{ height: 86px; transition: initial; }
.slice-44:hover ~ .sheet{ height: 88px; transition: initial; }
.slice-45:hover ~ .sheet{ height: 90px; transition: initial; }
.slice-46:hover ~ .sheet{ height: 92px; transition: initial; }
.slice-47:hover ~ .sheet{ height: 94px; transition: initial; }
.slice-48:hover ~ .sheet{ height: 96px; transition: initial; }
.slice-49:hover ~ .sheet{ height: 98px; transition: initial; }
.slice-50:hover ~ .sheet{ height: 100px; transition: initial; }
.slice-51:hover ~ .sheet{ height: 102px; transition: initial; }
.slice-52:hover ~ .sheet{ height: 104px; transition: initial; }
.slice-53:hover ~ .sheet{ height: 106px; transition: initial; }
.slice-54:hover ~ .sheet{ height: 108px; transition: initial; }
.slice-55:hover ~ .sheet{ height: 110px; transition: initial; }
.slice-56:hover ~ .sheet{ height: 112px; transition: initial; }
.slice-57:hover ~ .sheet{ height: 114px; transition: initial; }
.slice-58:hover ~ .sheet{ height: 116px; transition: initial; }
.slice-59:hover ~ .sheet{ height: 118px; transition: initial; }
.slice-60:hover ~ .sheet{ height: 120px; transition: initial; }
.slice-61:hover ~ .sheet{ height: 122px; transition: initial; }
.slice-62:hover ~ .sheet{ height: 124px; transition: initial; }
.slice-63:hover ~ .sheet{ height: 126px; transition: initial; }
.slice-64:hover ~ .sheet{ height: 128px; transition: initial; }
.slice-65:hover ~ .sheet{ height: 130px; transition: initial; }
.slice-66:hover ~ .sheet{ height: 132px; transition: initial; }
.slice-67:hover ~ .sheet{ height: 134px; transition: initial; }
.slice-68:hover ~ .sheet{ height: 136px; transition: initial; }
.slice-69:hover ~ .sheet{ height: 138px; transition: initial; }
.slice-70:hover ~ .sheet{ height: 140px; transition: initial; }
.slice-71:hover ~ .sheet{ height: 142px; transition: initial; }
.slice-72:hover ~ .sheet{ height: 144px; transition: initial; }
.slice-73:hover ~ .sheet{ height: 146px; transition: initial; }
.slice-74:hover ~ .sheet{ height: 148px; transition: initial; }
.slice-75:hover ~ .sheet{ height: 150px; transition: initial; }
.slice-76:hover ~ .sheet{ height: 152px; transition: initial; }
.slice-77:hover ~ .sheet{ height: 154px; transition: initial; }
.slice-78:hover ~ .sheet{ height: 156px; transition: initial; }
.slice-79:hover ~ .sheet{ height: 158px; transition: initial; }
.slice-80:hover ~ .sheet{ height: 160px; transition: initial; }
.slice-81:hover ~ .sheet{ height: 162px; transition: initial; }
.slice-82:hover ~ .sheet{ height: 164px; transition: initial; }
.slice-83:hover ~ .sheet{ height: 166px; transition: initial; }
.slice-84:hover ~ .sheet{ height: 168px; transition: initial; }
.slice-85:hover ~ .sheet{ height: 170px; transition: initial; }
.slice-86:hover ~ .sheet{ height: 172px; transition: initial; }
.slice-87:hover ~ .sheet{ height: 174px; transition: initial; }
.slice-88:hover ~ .sheet{ height: 176px; transition: initial; }
.slice-89:hover ~ .sheet{ height: 178px; transition: initial; }
.slice-90:hover ~ .sheet{ height: 180px; transition: initial; }
.slice-91:hover ~ .sheet{ height: 182px; transition: initial; }
.slice-92:hover ~ .sheet{ height: 184px; transition: initial; }
.slice-93:hover ~ .sheet{ height: 186px; transition: initial; }
.slice-94:hover ~ .sheet{ height: 188px; transition: initial; }
.slice-95:hover ~ .sheet{ height: 190px; transition: initial; }
.slice-96:hover ~ .sheet{ height: 192px; transition: initial; }
.slice-97:hover ~ .sheet{ height: 194px; transition: initial; }
.slice-98:hover ~ .sheet{ height: 196px; transition: initial; }
.slice-99:hover ~ .sheet{ height: 198px; transition: initial; }
.slice-100:hover ~ .sheet{ height: 200px; transition: initial; }
.slice-101:hover ~ .sheet{ height: 202px; transition: initial; }
.slice-102:hover ~ .sheet{ height: 204px; transition: initial; }
.slice-103:hover ~ .sheet{ height: 206px; transition: initial; }
.slice-104:hover ~ .sheet{ height: 208px; transition: initial; }
.slice-105:hover ~ .sheet{ height: 210px; transition: initial; }
.slice-106:hover ~ .sheet{ height: 212px; transition: initial; }
.slice-107:hover ~ .sheet{ height: 214px; transition: initial; }
.slice-108:hover ~ .sheet{ height: 216px; transition: initial; }
.slice-109:hover ~ .sheet{ height: 218px; transition: initial; }
.slice-110:hover ~ .sheet{ height: 220px; transition: initial; }
.slice-111:hover ~ .sheet{ height: 222px; transition: initial; }
.slice-112:hover ~ .sheet{ height: 224px; transition: initial; }
.slice-113:hover ~ .sheet{ height: 226px; transition: initial; }
.slice-114:hover ~ .sheet{ height: 228px; transition: initial; }
.slice-115:hover ~ .sheet{ height: 230px; transition: initial; }
.slice-116:hover ~ .sheet{ height: 232px; transition: initial; }
.slice-117:hover ~ .sheet{ height: 234px; transition: initial; }
.slice-118:hover ~ .sheet{ height: 236px; transition: initial; }
.slice-119:hover ~ .sheet{ height: 238px; transition: initial; }
.slice-120:hover ~ .sheet{ height: 240px; transition: initial; }
.slice-121:hover ~ .sheet{ height: 242px; transition: initial; }
.slice-122:hover ~ .sheet{ height: 244px; transition: initial; }
.slice-123:hover ~ .sheet{ height: 246px; transition: initial; }
.slice-124:hover ~ .sheet{ height: 248px; transition: initial; }
.slice-125:hover ~ .sheet{ height: 250px; transition: initial; }
.slice-126:hover ~ .sheet{ height: 252px; transition: initial; }
.slice-127:hover ~ .sheet{ height: 254px; transition: initial; }
.slice-128:hover ~ .sheet{ height: 256px; transition: initial; }
.slice-129:hover ~ .sheet{ height: 258px; transition: initial; }
.slice-130:hover ~ .sheet{ height: 260px; transition: initial; }
.slice-131:hover ~ .sheet{ height: 262px; transition: initial; }
.slice-132:hover ~ .sheet{ height: 264px; transition: initial; }
.slice-133:hover ~ .sheet{ height: 266px; transition: initial; }
.slice-134:hover ~ .sheet{ height: 268px; transition: initial; }
.slice-135:hover ~ .sheet{ height: 270px; transition: initial; }
.slice-136:hover ~ .sheet{ height: 272px; transition: initial; }
.slice-137:hover ~ .sheet{ height: 274px; transition: initial; }
.slice-138:hover ~ .sheet{ height: 276px; transition: initial; }
.slice-139:hover ~ .sheet{ height: 278px; transition: initial; }
.slice-140:hover ~ .sheet{ height: 280px; transition: initial; }
.slice-141:hover ~ .sheet{ height: 282px; transition: initial; }
.slice-142:hover ~ .sheet{ height: 284px; transition: initial; }
.slice-143:hover ~ .sheet{ height: 286px; transition: initial; }
.slice-144:hover ~ .sheet{ height: 288px; transition: initial; }
.slice-145:hover ~ .sheet{ height: 290px; transition: initial; }
.slice-146:hover ~ .sheet{ height: 292px; transition: initial; }
.slice-147:hover ~ .sheet{ height: 294px; transition: initial; }
.slice-148:hover ~ .sheet{ height: 296px; transition: initial; }
.slice-149:hover ~ .sheet{ height: 298px; transition: initial; }
.slice-150:hover ~ .sheet{ height: 300px; transition: initial; }
.slice-151:hover ~ .sheet{ height: 302px; transition: initial; }
.slice-152:hover ~ .sheet{ height: 304px; transition: initial; }
.slice-153:hover ~ .sheet{ height: 306px; transition: initial; }
.slice-154:hover ~ .sheet{ height: 308px; transition: initial; }
.slice-155:hover ~ .sheet{ height: 310px; transition: initial; }
.slice-156:hover ~ .sheet{ height: 312px; transition: initial; }
.slice-157:hover ~ .sheet{ height: 314px; transition: initial; }
.slice-158:hover ~ .sheet{ height: 316px; transition: initial; }
.slice-159:hover ~ .sheet{ height: 318px; transition: initial; }
.slice-160:hover ~ .sheet{ height: 320px; transition: initial; }
.slice-161:hover ~ .sheet{ height: 322px; transition: initial; }
.slice-162:hover ~ .sheet{ height: 324px; transition: initial; }
.slice-163:hover ~ .sheet{ height: 326px; transition: initial; }
.slice-164:hover ~ .sheet{ height: 328px; transition: initial; }
.slice-165:hover ~ .sheet{ height: 330px; transition: initial; }
.slice-166:hover ~ .sheet{ height: 332px; transition: initial; }
.slice-167:hover ~ .sheet{ height: 334px; transition: initial; }
.slice-168:hover ~ .sheet{ height: 336px; transition: initial; }
.slice-169:hover ~ .sheet{ height: 338px; transition: initial; }
.slice-170:hover ~ .sheet{ height: 340px; transition: initial; }
.slice-171:hover ~ .sheet{ height: 342px; transition: initial; }
.slice-172:hover ~ .sheet{ height: 344px; transition: initial; }
.slice-173:hover ~ .sheet{ height: 346px; transition: initial; }
.slice-174:hover ~ .sheet{ height: 348px; transition: initial; }
.slice-175:hover ~ .sheet{ height: 350px; transition: initial; }
.slice-176:hover ~ .sheet{ height: 352px; transition: initial; }
.slice-177:hover ~ .sheet{ height: 354px; transition: initial; }
.slice-178:hover ~ .sheet{ height: 356px; transition: initial; }
.slice-179:hover ~ .sheet{ height: 358px; transition: initial; }
.slice-180:hover ~ .sheet{ height: 360px; transition: initial; }
.slice-181:hover ~ .sheet{ height: 362px; transition: initial; }
.slice-182:hover ~ .sheet{ height: 364px; transition: initial; }
.slice-183:hover ~ .sheet{ height: 366px; transition: initial; }
.slice-184:hover ~ .sheet{ height: 368px; transition: initial; }
.slice-185:hover ~ .sheet{ height: 370px; transition: initial; }
.slice-186:hover ~ .sheet{ height: 372px; transition: initial; }
.slice-187:hover ~ .sheet{ height: 374px; transition: initial; }
.slice-188:hover ~ .sheet{ height: 376px; transition: initial; }
.slice-189:hover ~ .sheet{ height: 378px; transition: initial; }
.slice-190:hover ~ .sheet{ height: 380px; transition: initial; }
.slice-191:hover ~ .sheet{ height: 382px; transition: initial; }
.slice-192:hover ~ .sheet{ height: 384px; transition: initial; }
.slice-193:hover ~ .sheet{ height: 386px; transition: initial; }
.slice-194:hover ~ .sheet{ height: 388px; transition: initial; }
.slice-195:hover ~ .sheet{ height: 390px; transition: initial; }
.slice-196:hover ~ .sheet{ height: 392px; transition: initial; }
.slice-197:hover ~ .sheet{ height: 394px; transition: initial; }
.slice-198:hover ~ .sheet{ height: 396px; transition: initial; }
.slice-199:hover ~ .sheet{ height: 398px; transition: initial; }
.slice-200:hover ~ .sheet{ height: 400px; transition: initial; }

.slice-1{ top: 0px; }
.slice-2{ top: 2px; }
.slice-3{ top: 4px; }
.slice-4{ top: 6px; }
.slice-5{ top: 8px; }
.slice-6{ top: 10px; }
.slice-7{ top: 12px; }
.slice-8{ top: 14px; }
.slice-9{ top: 16px; }
.slice-10{ top: 18px; }
.slice-11{ top: 20px; }
.slice-12{ top: 22px; }
.slice-13{ top: 24px; }
.slice-14{ top: 26px; }
.slice-15{ top: 28px; }
.slice-16{ top: 30px; }
.slice-17{ top: 32px; }
.slice-18{ top: 34px; }
.slice-19{ top: 36px; }
.slice-20{ top: 38px; }
.slice-21{ top: 40px; }
.slice-22{ top: 42px; }
.slice-23{ top: 44px; }
.slice-24{ top: 46px; }
.slice-25{ top: 48px; }
.slice-26{ top: 50px; }
.slice-27{ top: 52px; }
.slice-28{ top: 54px; }
.slice-29{ top: 56px; }
.slice-30{ top: 58px; }
.slice-31{ top: 60px; }
.slice-32{ top: 62px; }
.slice-33{ top: 64px; }
.slice-34{ top: 66px; }
.slice-35{ top: 68px; }
.slice-36{ top: 70px; }
.slice-37{ top: 72px; }
.slice-38{ top: 74px; }
.slice-39{ top: 76px; }
.slice-40{ top: 78px; }
.slice-41{ top: 80px; }
.slice-42{ top: 82px; }
.slice-43{ top: 84px; }
.slice-44{ top: 86px; }
.slice-45{ top: 88px; }
.slice-46{ top: 90px; }
.slice-47{ top: 92px; }
.slice-48{ top: 94px; }
.slice-49{ top: 96px; }
.slice-50{ top: 98px; }
.slice-51{ top: 100px; }
.slice-52{ top: 102px; }
.slice-53{ top: 104px; }
.slice-54{ top: 106px; }
.slice-55{ top: 108px; }
.slice-56{ top: 110px; }
.slice-57{ top: 112px; }
.slice-58{ top: 114px; }
.slice-59{ top: 116px; }
.slice-60{ top: 118px; }
.slice-61{ top: 120px; }
.slice-62{ top: 122px; }
.slice-63{ top: 124px; }
.slice-64{ top: 126px; }
.slice-65{ top: 128px; }
.slice-66{ top: 130px; }
.slice-67{ top: 132px; }
.slice-68{ top: 134px; }
.slice-69{ top: 136px; }
.slice-70{ top: 138px; }
.slice-71{ top: 140px; }
.slice-72{ top: 142px; }
.slice-73{ top: 144px; }
.slice-74{ top: 146px; }
.slice-75{ top: 148px; }
.slice-76{ top: 150px; }
.slice-77{ top: 152px; }
.slice-78{ top: 154px; }
.slice-79{ top: 156px; }
.slice-80{ top: 158px; }
.slice-81{ top: 160px; }
.slice-82{ top: 162px; }
.slice-83{ top: 164px; }
.slice-84{ top: 166px; }
.slice-85{ top: 168px; }
.slice-86{ top: 170px; }
.slice-87{ top: 172px; }
.slice-88{ top: 174px; }
.slice-89{ top: 176px; }
.slice-90{ top: 178px; }
.slice-91{ top: 180px; }
.slice-92{ top: 182px; }
.slice-93{ top: 184px; }
.slice-94{ top: 186px; }
.slice-95{ top: 188px; }
.slice-96{ top: 190px; }
.slice-97{ top: 192px; }
.slice-98{ top: 194px; }
.slice-99{ top: 196px; }
.slice-100{ top: 198px; }
.slice-101{ top: 200px; }
.slice-102{ top: 202px; }
.slice-103{ top: 204px; }
.slice-104{ top: 206px; }
.slice-105{ top: 208px; }
.slice-106{ top: 210px; }
.slice-107{ top: 212px; }
.slice-108{ top: 214px; }
.slice-109{ top: 216px; }
.slice-110{ top: 218px; }
.slice-111{ top: 220px; }
.slice-112{ top: 222px; }
.slice-113{ top: 224px; }
.slice-114{ top: 226px; }
.slice-115{ top: 228px; }
.slice-116{ top: 230px; }
.slice-117{ top: 232px; }
.slice-118{ top: 234px; }
.slice-119{ top: 236px; }
.slice-120{ top: 238px; }
.slice-121{ top: 240px; }
.slice-122{ top: 242px; }
.slice-123{ top: 244px; }
.slice-124{ top: 246px; }
.slice-125{ top: 248px; }
.slice-126{ top: 250px; }
.slice-127{ top: 252px; }
.slice-128{ top: 254px; }
.slice-129{ top: 256px; }
.slice-130{ top: 258px; }
.slice-131{ top: 260px; }
.slice-132{ top: 262px; }
.slice-133{ top: 264px; }
.slice-134{ top: 266px; }
.slice-135{ top: 268px; }
.slice-136{ top: 270px; }
.slice-137{ top: 272px; }
.slice-138{ top: 274px; }
.slice-139{ top: 276px; }
.slice-140{ top: 278px; }
.slice-141{ top: 280px; }
.slice-142{ top: 282px; }
.slice-143{ top: 284px; }
.slice-144{ top: 286px; }
.slice-145{ top: 288px; }
.slice-146{ top: 290px; }
.slice-147{ top: 292px; }
.slice-148{ top: 294px; }
.slice-149{ top: 296px; }
.slice-150{ top: 298px; }
.slice-151{ top: 300px; }
.slice-152{ top: 302px; }
.slice-153{ top: 304px; }
.slice-154{ top: 306px; }
.slice-155{ top: 308px; }
.slice-156{ top: 310px; }
.slice-157{ top: 312px; }
.slice-158{ top: 314px; }
.slice-159{ top: 316px; }
.slice-160{ top: 318px; }
.slice-161{ top: 320px; }
.slice-162{ top: 322px; }
.slice-163{ top: 324px; }
.slice-164{ top: 326px; }
.slice-165{ top: 328px; }
.slice-166{ top: 330px; }
.slice-167{ top: 332px; }
.slice-168{ top: 334px; }
.slice-169{ top: 336px; }
.slice-170{ top: 338px; }
.slice-171{ top: 340px; }
.slice-172{ top: 342px; }
.slice-173{ top: 344px; }
.slice-174{ top: 346px; }
.slice-175{ top: 348px; }
.slice-176{ top: 350px; }
.slice-177{ top: 352px; }
.slice-178{ top: 354px; }
.slice-179{ top: 356px; }
.slice-180{ top: 358px; }
.slice-181{ top: 360px; }
.slice-182{ top: 362px; }
.slice-183{ top: 364px; }
.slice-184{ top: 366px; }
.slice-185{ top: 368px; }
.slice-186{ top: 370px; }
.slice-187{ top: 372px; }
.slice-188{ top: 374px; }
.slice-189{ top: 376px; }
.slice-190{ top: 378px; }
.slice-191{ top: 380px; }
.slice-192{ top: 382px; }
.slice-193{ top: 384px; }
.slice-194{ top: 386px; }
.slice-195{ top: 388px; }
.slice-196{ top: 390px; }
.slice-197{ top: 392px; }
.slice-198{ top: 394px; }
.slice-199{ top: 396px; }
.slice-200{ top: 398px; }
