@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #3cb371;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.horizontial,
.vertical {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.line-h {
  position: relative;
  float: left;
  width: 40px;
  height: 10px;
  margin: 15px 0;
  background: #fff;
  animation: rotate-h 4s ease-in-out infinite;
}

.line-v {
  position: relative;
  float: left;
  width: 10px;
  height: 40px;
  margin: 0 15px;
  background: #fff;
  animation: rotate-v 4s ease-in-out infinite;
}

@keyframes rotate-h {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(45deg);
  }

  40% {
    transform: rotate(45deg) translateX(-20px);
  }

  60% {
    transform: rotate(45deg) scaleY(2) scaleX(.5);
  }

  80% {
    transform: rotate(45deg) scaleY(2) scaleX(.5);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-v {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(45deg);
  }

  40% {
    transform: rotate(45deg) translateX(10px);
  }

  60% {
    transform: rotate(45deg) scaleX(2) scaleY(.5);
  }

  80% {
    transform: rotate(90deg) scaleX(2) scaleY(.5);
  }

  100% {
    transform: rotate(90deg);
  }
}
